.AdditionalMenu > span{
    font-size: larger;
    font-style: italic; 
    text-align: center;
    color: rgb(118, 37, 65);
   font-size:medium;
    font-family: 'Nothing You Could Do', cursive;
    display: flex;
    flex-direction: column;
    
}
