
.SearchArea .vacationcards{
    
  
  }
  .SearchArea .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: aliceblue;
}
.SearchArea  h2 {
  font-size: larger;
  font-style: italic; 
 text-align: center;
  color: rgb(200, 56, 128);
 font-size: xxx-large;
 font-family: 'Nothing You Could Do', cursive;
}
.SearchArea .material-symbols-outlined{

  color: purple;
  font-size:x-large;
  font-style: italic;
  font-size: x-large;
}

