
 
.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15%,80%, 5%;
    grid-template-columns: repeat(6, 1fr);
}
.Layout > header {
    grid-column: span 6;
    grid-row: span 2 ;
}

 .Layout > footer {
    grid-column: span 6;
    grid-row: span 1;
 } 
 .Layout > aside {
    grid-column: span 2;
    grid-row: 100%;
 }

.Layout,.Layout > * {
    border: 1px solid rgb(207, 61, 129);
}
.Layout > main{
    grid-column: span 12;
    grid-row: span 6; 
}
 /* .Layout > header {
    grid-column: span 6;
    
} */



