html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  /* color: darkcyan; */
  background-image: url(../../frontend/src/Assests/images/istockphoto-1153938533-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .Box {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
} */

.Error {
  color: red;
  margin: 0 20px;
  position: absolute;
}

